body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  color:black;
  list-style: none;
  height: 100vh !important;
}
.cart{
  height: 80vh;
  margin: auto;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar{
  background-color: rgb(8, 8, 9) !important;
}
.nav-link{
  color: white !important;
}
.navbar-brand{
  color:white !important;
}
h1{
  font-size: 20px !important;
  text-align: left;
  color: black;
}
.img-fluid{
  height: 200px !important;
  text-align: center;
}
.big-image{
  height: 300px !important;
}
h2{
  font-size: 40px !important;
  font-weight: bold;
}
.btn{
  background-color: black !important;
  color: white;
  width: 300px;
}
input{
  box-shadow: none !important;
  margin-top:20px !important ;
  border: 1px solid black;
}
li{
  color: white;
}
h3{
  font-size: 16px !important;
}
.orderitems h1{
  font-size: 16px !important;
}
.admin{
  background-color: rgb(73, 110, 161);
  color: white;
}
.admin li{
  color:black;
  list-style: none;
  display: inline;
  margin-left: 10px !important;
}
.admin li a{
  text-decoration: none;
  color: rgb(255, 248, 248);
}
.admin li a:hover{
 background-color: rgb(191, 148, 191);
 transition: 1s;
}
td{
  text-align: left;
}
.dropdown-toggle{
  border: none !important;
  box-shadow: none !important;
}
select{
  box-shadow: none !important;
  border: 1px solid black !important;
}
.big-image{
  height: 400px !important;
}
.rating{
 float: left;
}
.ppp{
  text-decoration: none;
}